@model IEnumerable<cis237Assignment6.Models.Beverage>

@{
    ViewBag.Title = "Beverages";
}

@Styles.Render("~/Content/BevSite.css") @*Use custom css for styling*@

<h2>Beverages in Database</h2>

@*Display the filter options and create the filter button*@
<div class="form-group">
    <fieldset>
        <legend>Search Filter</legend>
        @{ @*Open up a form that will go to the Filter method on the beverages controller with a post request*@
        using (Html.BeginForm("Filter", "Beverages", FormMethod.Post, new { @class = "form-inline" }))
        {
                @Html.AntiForgeryToken()

                 @*Creat the labels and text boxes to get the data to filter*@
                    <label for="name">Name</label>
                    @Html.TextBox("name", (string)ViewBag.filterName)
                    <label for="pack">Pack</label>
                    @Html.TextBox("pack", (string)ViewBag.filterPack)
                    <label for="min">Min</label>
                    <input name="min" for="min" type="number" value="@ViewBag.filterMin"> @*Only accepts numbers*@
                    <label for="max">Max</label>
                    <input name="max" type="number" for="max" value="@ViewBag.filterMax"> @*Only accepts numbers*@
                    <br />
                    <input type="submit" value="Filter" class="btn btn-info pull-right btn-Style" />
            }
        }
    </fieldset>
</div>

@*Create button to create a new beverage*@
<p>
    @Html.ActionLink("Create Beverage", "Create", null, new { @class = "Clear-Text-Form" })
</p>

@*Displays all of the beverage items*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pack)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.active)
        </th>
        <th></th>
    </tr>

    @*Displays the edit, delete and details links for all beverage items*@
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pack)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.active)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
